@font-face {
  font-family: "Permanent Marker";
  src: url("./PermanentMarker-Regular.ttf");
}

.paragraph-xl,
.paragraph-md-xl,
.paragraph-xxl,
.paragraph-xxxl {
  font-weight: lighter;
}

main.container-fluid {
  h1 {
    font-size: 32px;
  }
}
