$utilities: map-merge(
  $utilities,
  (
    "paragraph": (
      responsive: true,
      property: font-size,
      class: paragraph,
      values: (
        xs: 8px,
        sm: 10px,
        md: 14px,
        lg: 20px,
        xl: 28px,
        xxl: 38px,
        xxxl: 50px,
      ),
    ),
  )
);
