// https://getbootstrap.com/docs/5.0/customize/sass/

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #a735ff;
$secondary: #c579ff;
$tertiary: #ffcd5c;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 2 bis.
$theme-colors: (
  white: $white,
  light: $light,
  dark: $dark,
  black: $black,
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
);
$text-colors: (
  white: $dark,
  light: $dark,
  dark: $light,
  black: $light,
  primary: $light,
  secondary: $light,
  tertiary: $dark,
);

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";

@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "./utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/badge";

// 5. Add additional custom code here
@import "./main";
@import "./badge";
@import "./navbar";
@import "./typo";
@import "./_components/FragmentCard.scss";

h1,
h2,
h3,
.marker {
  font-family: "Permanent Marker";
}

h2 {
  margin: 2rem auto 1rem;
}
main {
  min-height: 100vh;
  padding-bottom: 10vh;
  .text-display {
    // Scrapper from `display-6`
    font-size: calc(1rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
  }
  @media (min-width: 1200px) {
    > .text-display {
      font-size: 2.5rem;
    }
  }
}
