#page-tag {
  p:first-child {
    font-size: calc(2vw + 12px);
  }
  h1 {
    font-size: calc(8vw + 40px);
    word-break: break-all;
    line-height: calc(6vw + 30px);
    & + p {
      font-size: 8vw;
    }
  }
}
